.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-logoDesc {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin 1 1s linear;
    animation-delay: 0.5s;
  }
  .App-header {
    animation: App-header 1 1s linear;
    animation-delay: 2s;
  }
}

.App-header {
  background-color: #131B41;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-header {
  from {
    background-color: #131B41;
  }
  to {
    background-color: transparent;
  }
}
