.navbar-styles{
    padding-bottom: 0;
    padding-top: 0px;
    background: rgba(234, 234, 234, 0.864);
}
.navbar-styles .logo-box{
    border-right: 2px solid var(--border-color);
}
.navbar-styles .logo-box .link-img img{
    width: 220px;
    padding: 5px;
    transition: all 0.3ms ease;
    border: none;
}
.navbar-styles .navbar-text span{
    color: var(--font-color);
    font-size: 18px;
}